<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.m4gi.mapper.ProductMapper">

<!-- mybatis-config에 alias설정 후 resultType은 짧게 Product로 등록함 -->
<select id="selectProductsByCompany" parameterType="int" resultType="com.m4gi.domain.Product">
    SELECT * FROM products
</select>

<select id="selectProductsByCompanyAndStatus" resultType="com.m4gi.domain.Product">
    SELECT * FROM products WHERE company_id = #{companyId} AND status = #{status}
</select>

</mapper>