<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<!-- MyBatis 설정파일 -->
<configuration>
	<mappers>
      <mapper resource="mappers/UserMapper.xml" />
      <mapper resource="mappers/ProductMapper.xml" />
      <mapper resource="mappers/AdminUserMapper.xml"/>
      <mapper resource="mappers/AdminProductMapper.xml"/>
	</mappers>
 
<!-- Aliase: 별칭 설정. 리턴타입, 파라메터에만 사용 가능 -->
<!--  <typeAliases>
    <typeAlias alias="Product" type="com.m4gi.domain.Product" />
</typeAliases> -->

</configuration>

