<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.m4gi.mapper.admin.AdminUserMapper"> <!-- ← 여기 수정!! -->

    <select id="getAllCompanies" resultType="com.m4gi.dto.admin.AdminUserListDTO">
        SELECT
        user_id AS userId,
        company_name AS companyName,
        master_name AS ceoName,
        phone,
        email,
        reg_date AS regDate
        FROM users
        ORDER BY reg_date DESC
    </select>

    <!-- 기업 리스트 페이징 조회 -->
    <select id="getCompanyList" resultType="com.m4gi.dto.admin.AdminUserListDTO">
        SELECT
        user_id AS userId,
        company_name AS companyName,
        master_name AS ceoName,
        phone,
        email,
        reg_date AS regDate
        FROM users
        ORDER BY user_id <!-- 회원번호 오름차순 정렬 -->
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- 전체 회원 수 조회 -->
    <select id="getTotalCompanyCount" resultType="int">
        SELECT COUNT(*) FROM users
    </select>

    <select id="searchCompanyList" resultType="com.m4gi.dto.admin.AdminUserListDTO">
        SELECT
        user_id AS userId,
        company_name AS companyName,
        master_name AS ceoName,
        phone,
        email,
        reg_date AS regDate
        FROM users
        WHERE company_name LIKE CONCAT('%', #{keyword}, '%')
        OR master_name LIKE CONCAT('%', #{keyword}, '%')
        OR phone LIKE CONCAT('%', #{keyword}, '%')
        OR email LIKE CONCAT('%', #{keyword}, '%')
        OR company_addr LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY user_id ASC
        LIMIT #{limit} OFFSET #{offset}
    </select>


    <select id="getSearchCompanyCount" resultType="int">
        SELECT COUNT(*) FROM users
        WHERE company_name LIKE CONCAT('%', #{keyword}, '%')
        OR master_name LIKE CONCAT('%', #{keyword}, '%')
        OR phone LIKE CONCAT('%', #{keyword}, '%')
        OR email LIKE CONCAT('%', #{keyword}, '%')
        OR company_addr LIKE CONCAT('%', #{keyword}, '%')
    </select>


</mapper>
