<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.m4gi.mapper.PaymentMapper">

    <insert id="insertPayment" parameterType="com.m4gi.dto.PaymentDTO">
        INSERT INTO payments (estimate_id, payment_cost, payment_comm, total_cost, payment_date, status)
        VALUES (#{estimateId}, #{paymentCost}, #{paymentComm}, #{totalCost}, NOW(), #{status})
    </insert>


    <select id="getPaymentsByCompanyId" parameterType="int" resultType="com.m4gi.dto.PaymentDTO">
        SELECT * FROM payments p
        JOIN estimates e ON p.estimate_id = e.estimate_id
        WHERE e.res_comp_id = #{companyId}
    </select>



</mapper>
