<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.m4gi.mapper.UserMapper">

    <insert id="insertUser" parameterType="com.m4gi.domain.User">
        INSERT INTO users (
        username, user_pw, nickname, user_img, email, phone,
        breg_num, company_name, master_name, company_addr, company_phone, product_category
        ) VALUES (
        #{username}, #{userPw}, #{nickname}, #{userImg}, #{email}, #{phone},
        #{bregNum}, #{companyName}, #{masterName}, #{companyAddr}, #{companyPhone}, #{productCategory}
        )
    </insert>

    <select id="checkUsername" parameterType="string" resultType="com.m4gi.domain.User">
        SELECT
        user_id AS userId,
        username,
        user_pw AS userPw
        FROM users
        WHERE username = #{username}
    </select>
    
    <select id="isDuplicateUsername" parameterType="string" resultType="int">
	    SELECT COUNT(*)
	    FROM users
	    WHERE username = #{username}
	</select>

    <select id="findByEmail" resultType="com.m4gi.domain.User">
        SELECT username
        FROM users
        WHERE email = #{email}
    </select>

    <select id="isExistEmail" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM users
        WHERE email = #{email}
    </select>

    <update id="updatePassword" parameterType="map">
        UPDATE users
        SET user_pw = #{newPassword}
        WHERE username = #{username}
    </update>

</mapper>
